input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  color: white !important;
  -webkit-text-fill-color: white;
}

h1, h2, h3, h4, h5, h6, section, a,
header, nav, body, strong, p, ul, li, ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

a, div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a:visited, a:active, div:visited, div:active {
  color: inherit;
}

body {
  color: #545454;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

#home {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.removed {
  display: none !important;
}

.moved {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.white {
  background-color: white !important;
  color: #545454 !important;
  font-weight: bold;
}

.white a {
  color: #545454;
  font-weight: 600;
}

.white a:visited, .white a:active {
  color: #545454;
  font-weight: 600;
}

.white div .navbar-logo__headers {
  margin-top: 0px;
}

.white div .navbar-logo__headers h6 {
  padding: 0px;
}

.bordered {
  border-bottom: 2px solid;
}

.navbar {
  z-index: 3;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
  -webkit-transition-property: background, color, margin, padding;
  transition-property: background, color, margin, padding;
}

.navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar-logo h2 {
  padding-left: 1rem;
  text-align: center;
  letter-spacing: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.navbar-logo h6 {
  letter-spacing: 5px;
  text-align: center;
  padding: 4px;
}

.navbar-logo__headers {
  max-width: 200px;
  margin-left: 5vw;
  margin-top: 20px;
  -webkit-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
  -webkit-transition-property: margin, padding;
  transition-property: margin, padding;
  cursor: pointer;
}

.navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 4vw;
}

.navbar-menu__item {
  font-size: 16px;
  margin: auto;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.block {
  padding: 80px 20px 80px 20px;
  margin: 0 7vw 0 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  font-size: 20px;
  margin: 30px 0 30px 0;
  color: #545454;
}

.block__header h1, .block__header h6 {
  font-size: inherit;
  letter-spacing: 6px;
  color: #2a3d45;
}

.block__header strong {
  font-weight: 600;
  font-size: 20px;
  color: #2a3d45;
}

.block__text {
  margin: 30px 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: justify;
}

.block__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin: 30px 15px 30px 15px;
}

.block__content--about {
  height: 100%;
  display: -ms-grid;
  display: grid;
  min-height: 180px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.block__content--about .content-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 6px;
  text-align: center;
  width: 85%;
  height: 100%;
}

.block__content--about .content-item img {
  width: 65%;
}

.block__content--about .content-item h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.block__content--about .content-item--text {
  padding: 10px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: darkgoldenrod;
  text-align: left;
  height: 60%;
}

.small-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.block__text--choose {
  overflow: hidden;
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.block__text--choose h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 15px 0 15px 0;
}

.block__text--choose p {
  font-size: 16px;
  padding-left: 25px;
}

.block__content .translated {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.block__content--gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__content--gallery .flex-item {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-perspective: 200px;
          perspective: 200px;
  overflow: hidden;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.block__content--gallery .flex-item img {
  vertical-align: middle;
}

.block__content--gallery .flex-item .gallery-container {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  cursor: pointer;
}

.block__content--gallery .flex-item .gallery-container:hover {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

.block__content--gallery .flex-item .gallery-overlay {
  position: absolute;
  background: #141414;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.block__content--gallery .flex-item .gallery-overlay:hover {
  opacity: 0.5;
}

figure {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  margin: 0px;
  z-index: 4;
}

.created__gallery--top {
  height: 10vh;
  text-align: right;
}

.created__gallery--top img {
  max-height: 45%;
  width: auto;
  margin: 18px;
  cursor: pointer;
}

.created__gallery--middle {
  max-height: 86vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.created__gallery--middle img {
  max-width: 86vw;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  width: auto;
}

.created__gallery--middle i {
  font-size: 600%;
  margin-top: auto;
  margin-bottom: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.created__gallery--middle div {
  height: 86vh;
  cursor: pointer;
}

.created__gallery--middle #previous {
  min-width: 7vw;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.created__gallery--middle #next {
  min-width: 7vw;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.created__gallery--bottom {
  min-height: 4vh;
}

.block__content--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.block__content--team .team-member {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.block__content--team .team-member .separator {
  background-color: #545454;
  height: 1px;
  width: 30%;
}

.block__content--team .team-member > * {
  margin: 10px;
}

.block__content--team .list-inline {
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.block__content--team .list-inline img {
  margin: 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.block__content--team .list-inline img:hover {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
  opacity: 1;
}

.block__content--team .list-inline li {
  display: inline-block;
}

.block__content--team strong {
  font-weight: 600;
}

.block__content--team h4, .block__content--team h5 {
  text-align: center;
}

.block__content--team .img-circle {
  max-width: 70%;
  border-radius: 50%;
}

#contact {
  background: #222222;
}

.wrapper {
  padding: 60px 0px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper__item--contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: fit-content(300px) auto;
      grid-template-rows: fit-content(300px) auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__item--contact h2 {
  margin: 2% 0 2% 0;
  font-size: 20px;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

.wrapper__item--contact .contact__item {
  margin: 30px 10px 30px 10px;
}

.wrapper__item--contact .contact__item .material-icons {
  position: absolute;
}

.wrapper__item--contact .contact__text {
  color: #fff;
  display: inline-block;
  margin-left: 30px;
}

.wrapper__item--contact .contact__text--title {
  font-size: large;
  padding-bottom: 3px;
  color: #fff;
}

.wrapper__item--contact .contact__text--content {
  margin-top: 15px;
}

.wrapper__item--contact .contact__text p {
  color: #777777;
}

.wrapper__item--logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper__item--logo .bottom-logo {
  width: 250px;
}

.wrapper__item--logo .list-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper__item--logo a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper__item--logo li {
  display: inline-block;
}

.wrapper__item--logo li img {
  color: #fff;
  margin: 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.wrapper__item--address {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__item--form {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-perspective: 200px;
          perspective: 200px;
  max-width: 45vw;
  padding-right: 50px;
}

.wrapper__item--form .form-wrap {
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.wrapper__item--form h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

.wrapper form {
  margin: 0 70px 70px 70px;
  display: -ms-grid;
  display: grid;
}

.wrapper form > input, .wrapper textarea, .wrapper button {
  outline: none !important;
  background: #222222;
  border-radius: 5px;
  border: 1px solid;
  margin: 2px;
  border-color: #222222;
  border-top: 2px solid #5555 !important;
  border-left: 1px solid #777777 !important;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

.wrapper form input {
  height: 40px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.wrapper form input::-webkit-input-placeholder {
  color: #777777;
}

.wrapper form input:-ms-input-placeholder {
  color: #777777;
}

.wrapper form input::-ms-input-placeholder {
  color: #777777;
}

.wrapper form input::placeholder {
  color: #777777;
}

.wrapper:-internal-autofill-selected {
  background-color: #222222;
}

.wrapper:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #222222 inset;
  -webkit-text-fill-color: #fff !important;
}

form textarea {
  height: 15em;
  padding-left: 10px;
  padding-top: 10px;
}

form textarea::-webkit-input-placeholder {
  color: #777777;
}

form textarea:-ms-input-placeholder {
  color: #777777;
}

form textarea::-ms-input-placeholder {
  color: #777777;
}

form textarea::placeholder {
  color: #777777;
}

button {
  background-color: #444444 !important;
  height: 50px;
}

button:hover {
  background-color: #e1d89f !important;
}

button i {
  color: #777777;
  -webkit-transition: hover 1s ease-in-out;
  transition: hover 1s ease-in-out;
}

.languages {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.languages a {
  font-size: 16px;
  padding: 5px 8px 5px 8px;
  color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}

.languages a:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.languages .active {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.form-wrap {
  border-radius: 7%;
}

.form-wrap div {
  border-radius: 7%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
}

.form-wrap .top {
  -webkit-transform-origin: top;
          transform-origin: top;
  border-top-color: #FF4C52;
  transform-origin: top;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.form-wrap .bottom {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  border-bottom-color: #FF595E;
  transform-origin: bottom;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.form-wrap .left {
  -webkit-transform-origin: left;
          transform-origin: left;
  border-left-color: #FF595E;
  transform-origin: left;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.form-wrap .right {
  -webkit-transform-origin: right;
          transform-origin: right;
  border-right-color: #FF4248;
  transform-origin: right;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.sent {
  position: absolute;
  top: 40%;
  width: 100%;
  opacity: 0;
  text-align: center;
  color: #fff;
  -webkit-transition: opacity 4s ease-in;
  transition: opacity 4s ease-in;
}

.unsent {
  display: none;
  text-align: center;
  color: #fff;
}

@media all and (min-width: 900px), (min-device-width: 900px) {
  .block__text {
    margin: 30px 120px 30px 0;
  }
}

@media all and (max-width: 1060px), (max-device-width: 1060px) {
  .navbar {
    position: static !important;
    background: #fff !important;
    color: #545454 !important;
  }
  .navbar-menu {
    margin-right: 0px !important;
  }
  .navbar-menu a {
    color: #545454;
  }
  .navbar-menu a:visited, .navbar-menu a:active {
    color: #545454;
  }
  .navbar-logo__headers {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: none;
  }
  .block {
    margin: 0 30px 0 30px;
  }
  .block__text {
    margin: 30px 0 30px 0;
  }
  .block__content--gallery .flex-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media all and (max-width: 900px), (max-device-width: 900px) {
  .block__content--team .team-member {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 10px;
    max-width: 50vw;
  }
  .block__content--team .m-top-20 {
    font-size: 2.4rem;
  }
  .block__content--team .m-top-20 strong {
    font-size: 2.4rem;
  }
  .wrapper__item--logo,
  .wrapper__item--contact,
  .wrapper__item--form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .navbar-menu--item {
    font-size: 1rem;
  }
  .navbar-logo__headers {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 20px;
    max-width: none;
  }
  .languages {
    position: inherit;
    background: #222222;
    height: 8vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .languages a {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Nunito Sans", sans-serif;
    padding: 0 0 0 0;
    padding-top: inherit;
  }
  .languages .active {
    background: rgba(0, 0, 0, 0.4);
  }
}

@media all and (max-width: 700px), (max-device-width: 700px) {
  .wrapper {
    padding: 60px 0 0 0;
  }
  .wrapper h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px;
  }
  .wrapper form {
    margin: 0 30px 70px 30px;
  }
  .wrapper form input {
    height: 90px;
    font-size: 32px;
    border-width: 6px !important;
    border-radius: 28px;
  }
  .wrapper form textarea {
    height: 20em;
    border-width: 6px !important;
    border-radius: 28px;
  }
  .wrapper form textarea::-webkit-input-placeholder {
    font-size: 32px;
  }
  .wrapper form textarea:-ms-input-placeholder {
    font-size: 32px;
  }
  .wrapper form textarea::-ms-input-placeholder {
    font-size: 32px;
  }
  .wrapper form textarea::placeholder {
    font-size: 32px;
  }
  .wrapper form button {
    height: 90px;
  }
  .wrapper .sent h1 {
    font-size: 2.7rem;
  }
  .wrapper .sent h3 {
    font-size: 2.7rem;
  }
  .wrapper__item--logo .bottom-logo {
    width: 470px;
    height: auto;
  }
  .wrapper__item--logo a img {
    height: 80px;
    width: 80px;
  }
  .wrapper__item--form {
    max-width: 100vw;
    padding-right: 0px;
  }
  .wrapper__item--address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper__item--contact .contact__text {
    margin-left: 70px;
  }
  .wrapper__item--contact p {
    margin-left: -70px;
  }
  .wrapper__item i {
    font-size: 3rem;
  }
  .block__content--team .team-member {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px;
    max-width: 50vw;
  }
  .block__content--team .team-member h5 {
    font-size: 2rem;
  }
  .navbar {
    position: static !important;
    background: #fff !important;
    color: #545454 !important;
  }
  .navbar-menu {
    margin-right: 0px !important;
  }
  .navbar-menu a {
    font-size: 2rem;
  }
  .navbar-logo__headers {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 20px;
    max-width: none;
  }
  .navbar-logo__headers h2 {
    font-size: 6rem;
  }
  .navbar-logo__headers h6 {
    font-size: 2.5rem;
  }
  .block {
    margin: 0 10px 0 10px;
  }
  .block__header {
    text-align: center;
  }
  .block .content-item h2 {
    font-size: 2.5rem;
  }
  .block .content-item--text {
    font-size: 1.7rem;
  }
  .block__content--gallery .flex-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 60px;
  }
  .m-top-20 {
    font-size: 4rem;
  }
  .m-top-20 strong {
    font-size: 4rem;
  }
  .contact__item .material-icons {
    font-size: 3rem;
  }
  .contact__item .contact__text--title {
    font-size: 2.5rem;
  }
  .contact__item p {
    font-size: 2.2rem;
  }
  .small-gallery img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .block__text--choose {
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    width: 100%;
  }
  #about .block__text--choose {
    text-align: left;
  }
  figure {
    display: -ms-grid;
    display: grid;
  }
  .created__gallery--middle {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto 25vw;
        grid-template-rows: auto 25vw;
    max-width: auto;
  }
  .created__gallery--middle i {
    color: white;
    font-size: 2000%;
  }
  .created__gallery--middle img {
    height: auto;
    width: 100%;
    max-width: 100vw;
  }
  .created__gallery--middle div {
    height: auto;
  }
  .created__gallery--middle #middle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .created__gallery--middle #previous {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .created__gallery--middle #next {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
/*# sourceMappingURL=main.css.map */