{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="portfolio" class="block">
    <div class="block__header">
      <div class="block__content no-margin">
      {% include 'gallery_ajax.html' %}
      </div>
    </div>
  </section>  
{% endblock %}

{% block domready %}
<script src="{% static 'js/gallery_ajax.js' %}"></script>
<script>
  window.onload = (event)=> {
    var navbar = document.querySelector('#home .navbar')
    navbar.classList.add('bordered')
    navbar.classList.add('white')
    
    Progress(100)
    document.body.style.overflow = "auto";
    Gallery();
    var progressBar = document.getElementsByClassName('progress-bar')[0]
    progressBar.parentElement.style.display = 'None';
  }
  window.onbeforeunload = function () {

    progressBar.parentElement.parentElement.style.display = 'block'
    Progress(10)
    document.body.style.overflow = "hidden";
    window.scrollTo(0, 0);
  }
  var content = document.querySelector(".block__content");
  var observer = new MutationObserver(function() {
    Gallery();
  });
  observer.observe(content, {subtree: true, childList: true});
</script>
{% endblock %}