{% load thumbnail %}
{% load static %}
{% for gallery in galleries %}
  <div class="block__content--gallery">
    {% with gallery.get_first as photos  %}
      {% for photo in photos %}
       {% thumbnail  photo.image "x300" as img %}
        <div class="flex-item">
          <div class="gallery-container" data-title="{{ gallery.title }}" data-number="{{ forloop.counter }}">
            <div class="gallery-overlay"></div>
            <img src="{{ img.url }}" alt="" style="display:inline-block">
          </div>
        </div>
        {% endthumbnail %}
      {% endfor %}
    {% endwith %}
  </div>
{% endfor %}

