{% extends 'base.html' %}
{% load gallery_tags %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% block content %}

<div class="overlay-wrapper">
  <div class="overlay"></div>
  <img id="img-home" src="{% static 'images/home.jpg' %}" alt="">
</div>


 <section id="offer" class="block">
     <div class="block__header">
        <h1>{% trans 'WHAT WE' %} <strong>{% trans 'DO' %}</strong>?</h1>
        <p class="block__text">{% trans 'CIĘTE realize personalized design solutions. We craft and montage tailored indoor & outdoor furniture. From A to Z.' %}</p>
        <ul class="offer__list">
          <li>-  {% trans 'direct on-site measurement' %}</li>
          <li>-  {% trans 'concept / detailed drawings' %}</li>
          <li>-  {% trans 'construction advices' %}</li>
          <li>-  {% trans '3d models / visualizations' %}</li>
          <li>-  {% trans 'cost estimates' %}</li>
          <li>-  {% trans 'comprehensive projects implementation' %}</li>
          <li>-  {% trans 'transport & montage' %}</li>
        </ul>
      </div>

      <div class="block__content">
        <div class="block__content--about">
          <img class="about-image"src="{% static 'images/drawn.png' %}" alt="">
        </div>
      </div>
 </section>

 <script>Progress(30)</script>

<section id="about" class="block">
      <div class="block__content">
        <div class="small-gallery">
          <img src="{% static 'images/choose1.jpg' %}" alt="" class="translated">
          <img src="{% static 'images/choose2.jpg' %}" alt="" class="translated">
          <img src="" alt="" class="translated">
          <img src="" alt="" class="translated">
          <img src="" alt="" class="translated">
        </div>
      </div>

      <div class="block__header">
        <h1>{% trans 'WHY' %} <strong>{% trans 'US' %}</strong>?</h1>
        <div class="block__text--choose">
          <h6>{% trans 'we go beyond ready-made solutions' %}</h6>
          <p>{% trans 'we treat each project individually' %}</p>
          <h6>{% trans 'we pay attention to smallest details' %}</h6>
          <p>{% trans 'every milimmeter counts' %}</p>
          <h6>{% trans 'we use vast variety of materials' %}</h6>
          <p>{% trans 'steel. wood. composites. corain' %}</p>
          <h6>{% trans 'we like challenges' %}</h6>
          <p>{% trans 'impossible is just hard' %}</p>
        </div>
      </div>
</section>

<script>Progress(40)</script>

<section id="portfolio" class="block">
      {% get_main_page_galleries as galleries %}
      <div class="block__header">
        <h1>{% trans 'REALIZED' %} <strong>{% trans 'PROJECTS' %}</strong></h1>

        <div class="block__content no-margin">
            {% for gallery in galleries %}
              <div class="block__content--gallery">
                {% with gallery.get_first as photos  %}
                  {% for photo in photos %}
                   {% thumbnail  photo.image "x300" as img %}
                    <div class="flex-item">
                      <div class="gallery-container" data-title="{{ gallery.title }}" data-number="{{ forloop.counter }}">
                        <div class="gallery-overlay"></div>
                        <img src="{{ img.url }}" alt="" style="display:inline-block">
                      </div>
                    </div>
                    {% endthumbnail %}
                  {% endfor %}
                {% endwith %}
              </div>
            {% endfor %}
        </div>
      </div>
</section>

<script>Progress(60)</script>

<section id="team" class="block">
      <div class="block__header">
        <h1>{% trans 'OUR' %} <strong>{% trans 'TEAM' %}</strong></h1>
        <p class="block__text">{% trans 'Two enginners / constructors and one architect.' %} <br> {% trans 'Close friends and makers. Share various areas of expertise' %}</p>
        <p></p>
        <div class="person">
          <strong>Natalia</strong>
          <p>{% trans 'design concepts' %}</p>
          <p>{% trans 'color palettes' %}</p>
          <p>{% trans 'materials combinations' %}</p>
        </div>

        <div class="person">
          <strong>Tomasz</strong>
          <p>{% trans 'laser cutters and CNC machines' %}</p>
          <p>{% trans 'materials/construction' %}</p>
          <p>{% trans 'logistics' %}</p>
        </div>

        <div class="person">
          <strong>Krzysztof</strong>
          <p>{% trans 'detailing' %}</p>
          <p>{% trans 'quality control' %}</p>
        </div>

      </div>

      <div class="block__content">
        <div class="block__content--team">
          <div class="team-member">
            <img src="{% static 'images/team1.jpg' %}" alt="" class="img-circle">
            <h4 class="m-top-20">Natalia <strong>Budnik</strong></h4>
            <div class="separator"></div>
            <h5>+48 692 291 001</h5>
            <!-- <img class="signature" src="{% static 'images/team1-bottom.png' %}" alt=""> -->
          </div>

          <div class="team-member">
            <img src="{% static 'images/team2.jpg' %}" alt="" class="img-circle">
            <h4 class="m-top-20">Tomasz <strong>Budnik</strong></h4>
            <div class="separator"></div>
            <h5>+48 721 323 373</h5>
            <!-- <img class="signature" src="{% static 'images/team2-bottom.png' %}" alt=""> -->
          </div>

          <div class="team-member">
            <img src="{% static 'images/team3.jpg' %}" alt="" class="img-circle">
            <h4 class="m-top-20">Krzysztof <strong>Kita</strong></h4>
            <div class="separator"></div>
            <h5>+48 721 721 137</h5>
            <!-- <img class="signature" src="{% static 'images/team3-bottom.png' %}" alt=""> -->
          </div>
        </div>
      </div>

</section >

<script>Progress(80)</script>
{% endblock %}

{% block domready %}
<script>
  window.onload = (event)=> {
    Progress(95)
    document.body.style.overflow = "auto";
    Main();
    Gallery();
    Progress(100)
    progressBar.parentElement.parentElement.style.display = 'None';   
    }
    window.onbeforeunload = function () {
      progressBar.parentElement.parentElement.style.display = 'block'
      Progress(10)
      document.body.style.overflow = "hidden";
      window.scrollTo(0, 0);
    }
</script>

{% endblock %}
