{% extends 'base.html' %}
{% load gallery_tags %}
{% load i18n %}
{% load static %}
{% block content %}
 <section id="offer" class="block">
     <div class="block__header">
        <h1>{% trans 'CO' %} <strong>{% trans 'ROBIMY' %}</strong>?</h1>
        <p class="block__text">{% trans 'Projektujemy, tniemy, realizujemy. Meble. Pomożemy dobrać Ci odpowiedni materiał i kolorytykę, wykonamy wizualizacje, rysunki koncepcyjne i techniczne. Wycenimy. Zajmiemy się zamówieniami, realizacją i montażem. Kompleksowo.' %}</p>
      </div>

      <div class="block__content">
        <div class="block__content--about">
          <img src="{% static 'images/drawn.png' %}" alt="">
          <!-- <div class="content-item">
           
            <h2>{% trans 'Doradztwo' %}</h2>
            <p class="content-item--text">{% trans 'Zapewniamy fachową poradę zarówno w kwestii rozplanowania wnętrza jak i stylu.' %}</p>
          </div>

          <div class="content-item">
            
            <h2>{% trans 'Projekt' %}</h2>
            <p class="content-item--text">{% trans 'Masz pewność, że do Twoich potrzeb podejdziemy indywidualnie.' %}</p>
          </div>

          <div class="content-item">
            
            <h2>{% trans 'Wycena' %}</h2>
            <p class="content-item--text">{% trans 'Oferujemy elastyczność w kwestii ceny, możesz mieć pewność, że będziesz zadowolony.' %}</p>
          </div>
          <div class="content-item">
            
            <h2>{% trans 'Realizacja' %}</h2>
            <p class="content-item--text">{% trans 'Zaczynamy jak tylko projekt zostanie przez Ciebie zatwierdzony.' %}</p>
          </div> -->

        </div>
      </div>

 </section>

<section id="about" class="block">

      <div class="block__content small-gallery">
        <img src="{% static 'images/choose1.jpg' %}" alt="" class="translated">
        <img src="{% static 'images/choose2.jpg' %}" alt="" class="translated">
        <img src="" alt="" class="translated">
        <img src="" alt="" class="translated">
        <img src="" alt="" class="translated">
      </div>

      <div class="block__header">
        <h1>{% trans 'DLACZEGO' %} <strong>{% trans 'MY' %}</strong>?</h1>
        <!-- <p class="block__text">Projektujemy, tniemy, realizujemy. Meble. Pomożemy dobrać Ci odpowiedni materiał i kolorytykę, wykonamy wizualizacje, rysunki koncepcyjne i techniczne. Wycenimy. Zajmiemy się zamówieniami, realizacją i montażem. Kompleksowo.</p> -->
        <div class="block__text--choose">
          <h6 class="moved">{% trans 'Nie trzymamy się utartych schematów' %}.</h6>
          <p  class="moved">{% trans 'Do każdego projektu podchodzimy indywidualnie' %}.</p>
          <h6 class="moved">{% trans 'Stosujemy niestandardowe materiały' %}.</h6>
          <p  class="moved">{% trans 'Stal, mosiądz, solid surface, kompozyty, drewno' %}.</p>
          <h6 class="moved">{% trans 'Przywiązujemy wagę do detalu' %}.</h6>
          <p  class="moved">{% trans 'Każdy milimetr ma znaczenie' %}.</p>
          <h6 class="moved">{% trans 'Lubimy wyzwania' %}.</h6>
          <p  class="moved">{% trans '"Niemożliwe" dla nas jest tylko trudne' %}.</p>
        </div>
      </div>

</section>

<section id="portfolio" class="block" style="display: none;">
      {% get_main_page_galleries as galleries %}
      <div class="block__header">
        <h1>{% trans 'ZREALIZOWANE' %} <strong>{% trans 'PROJEKTY' %}</strong></h1>
        <div class="block__content">
          <div class="block__content--gallery">

            {% for gallery in galleries %}
            <div class="flex-item">
              <div class="gallery-container" data-title="{{ gallery.title }}">
                <div class="gallery-overlay"></div>
                <img src="{{ gallery.thumbnail.url }}" alt="">
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
</section>

<section id="team" class="block" style="display: none;">
      <div class="block__header">
        <h1>{% trans 'NASZ' %} <strong>{% trans 'ZESPÓŁ' %}</strong></h1>
        <p class="block__text">{% trans 'Grupa przyjaciół mieszkających razem w Warszawie. Fascynuje nas prostota duńskiego designu. Zaczęliśmy od wspólnego dłubania w garażu. Potem zrealizowane pierwsze projekty.' %}</p>
      </div>

      <div class="block__content">
        <div class="block__content--team">
          <div class="team-member">
            <img src="{% static 'images/team1.jpg' %}" alt="" class="img-circle">

            <h4 class="m-top-20">Natalia <strong>Budnik</strong></h4>

            <div class="separator"></div>
            <h5>+48 692 291 001</h5>
            <!-- <h5>natalia@ciete.eu</h5>
            <div class="separator"></div>
            <ul class="list-inline">
                <li><a href=""><img src="images/icons-facebook-100.png" alt=""></a></li>
                <li><a href=""><img src="images/icons-instagram-old-100.png" alt=""></a></li>
                <li><a href=""><img src="images/icons-linkedin-100.png" alt=""></a></li>
            </ul> -->
          </div>

          <div class="team-member">
            <img src="{% static 'images/team2.jpg' %}" alt="" class="img-circle">

            <h4 class="m-top-20">Tomasz <strong>Budnik</strong></h4>

            <div class="separator"></div>
            <h5>+48 721 323 373</h5>
          </div>

          <div class="team-member">
            <img src="{% static 'images/team3.jpg' %}" alt="" class="img-circle">

            <h4 class="m-top-20">Krzysztof <strong>Kita</strong></h4>

            <div class="separator"></div>
            <h5>+48 721 721 137</h5>
          </div>
        </div>
      </div>

</section >
{% endblock %}
