{% load i18n %}
<div style="margin-left:7%; margin-right:7%;border-left:1px solid;border-right:1px solid;padding:30px;">
    <img src="cid:logo" style="display:block;margin-left:auto;margin-right:auto">

    <h2 style="text-align:center; color:black;">{% trans 'Thank you' %}!</h2>
    <br>

    <p style="text-align:center; color:black;">{% trans 'Hi' %} {{ name }}</p> 
    <p style="text-align:center; color:black;">{% trans "Thank you for your message. We'll get in touch soon." %}</p>
    <br>
    <h4 style="text-align:center; color:black;">{% trans 'Kind regards' %}!</h4>
    <h4 style="text-align:center; color:black;">{% trans 'Cięte Team' %}</h4>


    <p style="color:grey">ciete.eu</p>
    <p style="color:grey">{% trans 'Tel' %}: +48 692 291 001</p>
    <p style="color:grey">{% trans 'Email' %}: info@ciete.eu</p>
</div>